:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);

  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);

  --main-font-size: 15px;

  --font-family: "Poppins", sans-serif;
  --font-light: 200;
  --font-regular: 400;
  --font-bold: 600;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: var(--main-font-size);
  font-family: var(--font-family);
  margin: 5.635rem 0 5rem 0;
}
.header {
  text-align: center;
  margin-top: 5.635rem;
  margin: 0 3.125rem 5rem 3.125rem;
}
.header > div:nth-of-type(1) {
  font-weight: var(--font-regular);
  margin: 5px 0;
  font-size: 1.45rem;
}
.header > div:nth-of-type(2) {
  font-weight: var(--font-bold);
  margin: 5px 0;
  font-size: 1.5rem;
}
.header > div + p {
  font-weight: var(--font-light);
  margin: 0.625rem 0;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content > div {
  width: 85%;
  padding: 30px;
  height: 300px;
  box-shadow: 0 10px 20px 1px var(--very-dark-blue);
  margin-bottom: 1.5625rem;
  border-radius: 10px;
  position: relative;
}
.main-content div:first-child {
  font-weight: var(--font-bold);
  margin-bottom: 0.5625rem;
  font-size: 1.5rem;
}
.main-content p {
  font-weight: var(--font-light);
  margin-bottom: 30px;
  font-size: var(--main-font-size) !important;
}

.main-content > div:nth-child(1) {
  border-top: 5px solid var(--primary-cyan);
}
.main-content > div:nth-child(2) {
  border-top: 5px solid var(--primary-red);
}
.main-content > div:nth-child(3) {
  border-top: 5px solid var(--primary-orange);
}
.main-content > div:nth-child(4) {
  border-top: 5px solid var(--primary-blue);
}
.main-content svg {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
@media (min-width: 1399px) {
  .header > div + p {
    margin: 1rem 24.0625rem 0;
    font-weight: var(--font-light);
    font-size: 1rem;
  }
  .header > div:nth-of-type(1) {
    font-weight: var(--font-light);
    margin: 5px 0;
    font-size: 2.35rem;
  }
  .header > div:nth-of-type(2) {
    font-weight: var(--font-bold);
    margin: 5px 0;
    font-size: 2.35rem;
  }
  .main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    margin: 0 auto;
  }
  .main-content > div {
    margin: auto;
  }
  .main-content > div:nth-child(3) {
    order: 1;
    grid-column: 2/3;

    margin-top: 30px;
  }
  .main-content > div:nth-child(1) {
    transform: translate(10%, 50%);

    /* margin-right: 30px; */
  }
  .main-content > div:nth-child(4) {
    transform: translate(-10%, 50%);
  }
}
